/*
Cores:
- Background (main): #051c49
- Background (body): #142a5a
- text: #c4c4bd
- links: #dbdbd4
*/

header {
  background-color: #051c49;
  color: #c4c4bd;
  padding: 24px;
  border-radius: 0px;
  margin-bottom: 20px;
  text-align: center;
}
nav a {
  color: #dbdbd4;
  text-decoration: none;
  background-color: #051c49;
  padding: 36px;
}
nav a:hover {
  color: #051c49;
  text-decoration: none;
  background-color: #dbdbd4;
  padding: 46px;
  padding-bottom: 20px;
  border-bottom-right-radius: 26px;
  border-bottom-left-radius: 26px;
}
/*
.nav a:not(:last-child)::after {
  content: " ㅤ||ㅤ ";
}
*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #142a5a;
}
h2 {
  color: #c4c4bd;
  text-align: center;
}
.newSect {
  margin-top: 60px;
}
h3 {
  margin-top: 50px;
  color: #c4c4bd;
  text-align: center;
}
.noSpace {
  margin-top: 0px;
}
h4 {
  color: #c4c4bd;
  text-align: center;
}
.lists {
  text-align: center;
  padding: 0% auto;
  margin-right: 40px;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
li {
  color: #c4c4bd;
}
a {
  color: #c4c4bd;
}
.intro {
  color: #c4c4bd;
  background-color: #051c49;
  padding: 24px;
  border-radius: 40px;
  text-align: center;
}
table {
  margin: 0% auto;
  color: #c4c4bd;
}
th {
  background-color: #051c49;
  padding: 12px;
}
td {
  padding: 12px;
}
.links {
  text-align: center;
  background-color: #142a5a;
  padding: 20px auto;
}
article a {
  color: #dbdbd4;
  text-decoration: none;
  padding: 24px;
  padding-bottom: 20px;
  background-color: #142a5a;
}
article a:hover {
  color: #142a5a;
  text-decoration: none;
  padding: 38px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #dbdbd4;
  border-radius: 40px;
}

legend {
  color: #c4c4bd;
}

footer {
  color: #c4c4bd;
  background-color: #051c49;
  margin-top: 20px;
  padding: 12px;
  border-radius: 40px;
  text-align: center;
}
